body {
    background: rgb(70, 143, 236);
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.575);
}
img {
    width: 450px;
    
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
a {
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: white;
    color:rgb(70, 143, 236);
    border-radius: 2px;
}
